// Place all the styles related to the sound controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.radio-button {
	margin-top:1em;
	margin-bottom:1em;
}

.unobtrusive-flash-container {
	margin-top:1em;
}
