<!DOCTYPE html>
<html>
  <head>
    <title>Ruby Client for the Cloud Text-to-Speech API</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
<!-- Footer -->
<footer class="page-footer bg-light fixed-bottom">
  <div class="footer-copyright text-center py-5 h6 small">© 2019 - 2021 Copyright:
    <a href="https://masterpro.ws" target="_blank">Masterpro Project</a>
  </div>
</footer>
<!-- Footer -->
  </body>
</html>
